# URL base de la API del Backend (usado por Expo)
EXPO_PUBLIC_API_URL=http://localhost:3000/api

# URL base para las imágenes (Opcional - se deriva de API_URL si no se define)
# EXPO_PUBLIC_IMAGE_BASE_URL=http://localhost:3000
